{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Rigueira">
        <meta name="author"
              content="Gabriel Torres Gomes  - gabrieltggv29@gmail.com">
        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon" />
        <link rel="stylesheet"
              type="text/css"
              media="screen"
              href="{% static 'css/reset.css' %}">
        <link rel="stylesheet"
              type="text/css"
              media="screen"
              href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet"
              type="text/css"
              media="screen"
              href="{% static 'css/core.css' %}">
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>
    <body>
                {% block body %}{% endblock %}
        <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
        <script src="{% static 'htmx/htmx.min.js' %}"></script>
    </body>
</html>
