{% extends "core/base.html" %}
{% load static %}
{% block title %}Login{% endblock %}
{% block body %}
    <section class="vh-100 d-flex flex-wrap align-items-center">
        <div class="container-fluid h-custom">
            <div class="row justify-content-center">
                <picture class="col-4 g-0">
                    <img src="{% static 'img/rigueira.jpg' %}"
                         class="img-fluid"
                         alt="Rigueira">
                </picture>
                <div class="d-flex flex-column align-items-start justify-content-center ms-5 col-6 g-0">
                    
                    {% if form.errors %}<p>{{ form.non_field_errors }}</p>{% endif %}
                    <h5>Login</h5>
                    <form action="{% url 'login' %}" method="POST" class="needs-valitation">
                        {% csrf_token %}
                        <div class="form-goup">
                            <label for="email" class="form-label">Email</label>
                            <input type="email"
                                   class="form-control"
                                   name="email"
                                   id="email"
                                   placeholder="email">
                        </div>
                        <div class="form-group">
                            <label for="password" class="form-label">Senha</label>
                            <input type="password"
                                   class="form-control"
                                   name="password"
                                   id="password"
                                   placeholder="password">
                        </div>
                        <button type="submit" class="btn-warning my-4">Entrar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
