.card_login {
    width: 300px;
    background: url('../img/back_login.svg');
    background-size: 600px;
    background-repeat: no-repeat;
}


h5 {
    font-family: bebas-neue-pro, sans-serif;
    font-style: normal;
    font-weight: 600;
}

#sidebar {
    width: 4.5rem;
    height: 100vh;
}


@media (min-width: 301px) and (max-width: 768px) {
  section > div.container-fluid {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
  .card_login {
      width: 300px;
      ;
  }
  section.login {
    background-image: url("../img/logo_rigueira.svg");
    background-size: 400px;
    background-position: center;
    background-repeat: no-repeat;
  }
  picture {
      display: none;
  }
}

.htmxCanvas {
    margin-left: 4.6rem;
}
